<p><%="#{@cat.name}"%></p>
<table>
  <tr>
    <th>Age</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%="#{@cat.age}"%></td>
    <td><%="#{@cat.color}"%></td>
    <td><%="#{@cat.sex}"%></td>
    <td><%="#{@cat.description}"%></td>
  </tr>
</table>



<%= link_to "All cats!", cats_url %>
